*.o
Makefile.local
Makefile.configure
collection.html
collection.min.js
config.h
config.log
home.html
home.min.js
kcaldav
kcaldav-sql.c
kcaldav.8
kcaldav.passwd
kcaldav.passwd.1
libkcaldav.a
test-caldav
test-conf
test-ical
test-nonce
archive.html
atom.xml
index.html
kcaldav.8.html
kcaldav.passwd.1.html
kcaldav.tgz
kcaldav.tgz.sha512
