*.o
Makefile.local
Makefile.configure
collection.html
collection.min.js
config.h
config.log
home.html
home.min.js
kcaldav
kcaldav-sql.c
kcaldav.8
kcaldav.passwd
kcaldav.passwd.1
libkcaldav.a
test-caldav
test-conf
test-ical
test-nonce
