body, html		{ margin: 0; }
body			{ font-family: 'Alegreya Sans', sans-serif;
			  color: #333; }
#breadcrumbs 		{ text-align: center; 
			  margin-bottom: 2em; }
#breadcrumbs > span	{ display: inline-block;
			  color: #ddd;
			  padding: 0.5em 2em;
			  box-shadow: 0 0 6px #000;
			  font-size: smaller;
			  font-weight: 500;
			  border-bottom-left-radius: 8pt;
			  border-bottom-right-radius: 8pt;
			  background-color: #222; }
#breadcrumbs a		{ color: #fff;
			  text-decoration: underline; }
.standout		{ border: 3px solid #aaa;
			  border-radius: 1rem;
			  color: #000;
			  padding: 0.5rem 1rem; }
header			{ background-color: #6a6a6a; }
header + nav		{ text-align: center; 
			  margin-bottom: 2em; }
header + nav > div	{ padding: 0 1em;
			  display: inline-block; }
header + nav a		{ color: #000; }
header + nav i.fa	{ font-size: smaller; }
header + nav > div > span	
			{ color: #666; 
			  border-left: thin solid #ddd;
			  display: inline-block;
			  padding-left: 0.5em; }
header + nav .navtext	{ font-size: smaller; }
article > section	{ margin: 3em 0; }
div.date		{ color: #666; }
article a		{ color: blue; }
footer 			{ text-align: center; 
			  padding-bottom: 2rem;
			  font-size: smaller;
			  opacity: 0.7; }
a			{ text-decoration: none; }
#headline		{ font-size: 175%;  
			  text-align: center;
			  padding: 1em 0 0.5em 0; 
			  color: #fff; }
#headline span		{ color: #ddd; }
#intro			{ color: #000; }
h1			{ margin: 0; 
			  display: inline-block;
			  font-size: inherit;
			  font-weight: inherit; }
.file			{ font-style: italic; }
#versions	 	{ margin: 3em 0; 
			  background-color: #fcfcfc;
			  border-bottom: thin solid #eee; 
			  border-top: thin solid #eee; }
#versions > div		{ text-align: center; }
h2			{ margin: 0;
			  font-weight: inherit;
			  font-variant: small-caps;
			  display: inline-block;
			  padding: 0.2em 3em;
			  color: #000;
			  font-size: 110%;
			  text-align: center; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  color: #333;
			  margin: 2em 0;
			  padding-left: 0; }
nav[data-sblg-nav] li	{ margin-bottom: 1.5em; 
			  opacity: 0.7; }
nav[data-sblg-nav] li:first-child
			{ opacity: 1.0; 
			  margin-bottom: 2em; }
nav[data-sblg-nav] a	{ color: #05f; }
nav[data-sblg-nav] div + div 
			{ margin-top: 8px; }
nav[data-sblg-nav] .date i.fa
			{ font-size: smaller; }
aside			{ font-size: inherit; }
pre,code		{ font-family: monospace;
			  font-size: 11pt; }
.nm			{ font-weight: 500; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  #headline		{ font-size: 115%; }
}
