body, html		{ margin: 0; }
body			{ background-color: #ccc; 
			  font-size: 14pt;}
header			{ background-color: #336699; 
			  padding: 12pt 24pt;
			  color: #def; }
header a		{ color: #ccc; }
header a:hover		{ color: #eec; }
article 		{ padding: 8pt 24pt; 
			  line-height: 120%;
			  background-color: #eee; }
article a		{ color: blue; }
footer 			{ padding: 8pt 24pt; 
			  font-size: 12pt;
			  color: #444;
			  text-align: center; }
footer a		{ color: #000; }
a			{ text-decoration: none; }
h1			{ margin-bottom: 0;
			  margin-top: 1ex;
			  font-size: 36pt; }
h2			{ font-size: inherit; }
.version		{ font-weight: bold; 
			  color: #000; }
.nm			{ font-style: italic; }
.file			{ font-style: italic; }
pre, code		{ font-size: 12.5pt; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  font-size: 13pt;
			  color: #333;
			  padding-left: 0; }
nav[data-sblg-nav] li	{ margin-bottom: 1ex; }
nav[data-sblg-nav] a	{ color: #05f; }
nav[data-sblg-nav] div + div 
			{ margin-top: 1ex; }
