body, html			{ margin: 0; 
				  height: 100%; }
body				{ height: 100%;
				  max-height: 100%;
				  font-family: "Alegreya Sans", sans-serif;
				  display: flex;
				  flex-direction: column;
				  font-size: 12pt; }
article				{ flex: 1; 
				  padding: 12pt 12pt 0 12pt; }
header, footer			{ background-color: #eee; }
header				{ padding-top: 6pt; 
				  padding-bottom: 2pt;
				  border-bottom: thin solid #ccc;
				  text-align: center;
				  font-size: 11pt; }
h1				{ font-family: "Playfair Display", serif; 
				  font-size: 16pt;
				  margin: 0;
				  font-weight: normal; }
.browser			{ position: relative;
				  height: 100%;
				  width: 100%; }
.browser > * 			{ width: 50%;  }
.browseimg 			{ text-align: center; 
				  position: absolute;
				  top: 0;
				  left: 0;
				  height: 100%; }
.browseimg img			{ max-height: 100%; 
				  max-width: 100%; }
.browseeml			{ position: absolute; 
				  overflow-y: scroll; 
				  left: 50%;
				  top: 0;
				  height: 100%; }
.comment			{ padding: 0 6pt; }
.foreign			{ padding: 0 6pt; }
a				{ text-decoration: none; 
				  color: blue; }
dd				{ margin: 0; }
.tabs				{ margin-top: 0; }
.tabs .cols .foreign:before	{ content: 'Foreign key reference: '; 
				  opacity: 0.7; }
.tabs .cols .foreign		{ opacity: 0.9; }
.tabs > dt			{ font-weight: 600; }
dt, dd				{ padding: 6pt; }
.tabs > dt			{ padding-bottom: 0; }
.cols > dd			{ padding-top: 0; 
				  padding-bottom: 0; }
.cols > dt			{ padding-bottom: 0; 
				  font-style: italic; }
dt, dt + dd			{ transition: background-color 0.5s linear, color 0.5s linear; 
				  color: #888; }
dt				{ border-top-left-radius: 6pt; 
				  border-top-right-radius: 6pt; }
dt + dd				{ border-bottom-left-radius: 6pt; 
				  border-bottom-right-radius: 6pt; }
dt:target, dt:target + dd	{ background-color: #ddd;
				  color: #000; }
dt:target + dd dt, 
dt:target + dd dt + dd		{ color: #444; }
footer				{ text-align: center;
				  border-top: thin solid #ccc;
				  font-size: smaller;
				  padding: 8pt; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
h1				{ font-size: 14pt; }
.browser > *			{ width: 100%; }
.browseimg			{ height: 50%; }
.browseeml			{ left: 0; 
				  top: 50%; 
				  height: 50%; }
article				{ padding: 6pt 6pt 0 6pt; }
footer				{ padding: 6pt; }
}
