.hide					{ display: none; }
.button-xsmall 				{ font-size: 70%; }
.button-small 				{ font-size: 85%; }
.button-large 				{ font-size: 110%; }
.button-xlarge 				{ font-size: 125%; }
a					{ text-decoration: none; 
					  color: blue; }
ul					{ list-style-type: none; 
					  padding: 0; }
html, body				{ height: 100%; }
header					{ background-color: #313131; 
					  padding: 2em 1em 1em 1em; }
header > div				{ width: 100%;
				  	  color: #fff; }
header a				{ color: inherit; }
header nav a				{ padding: 0ex 1ex;
					  display: inline-block; }
header nav				{ color: #FFBB51; 
					  width: 50%;
					  text-align: right; 
					  white-space: nowrap;
					  display: inline-block; }
h1					{ margin: 0; 
					  margin-bottom: -6px;
					  width: 50%;
					  white-space: nowrap;
				 	  display: inline-block;
					  font-family: Georgia,Times,Times New Roman,serif;
					  font-size: 32px;
					  font-style: normal;
					  font-variant: normal;
					  font-weight: 500;
					  line-height: 26.4px; }
h1 i					{ letter-spacing: 2pt; }
h2					{ font-family: Georgia,Times,Times New Roman,serif;
					  font-size: 18px;
					  font-style: normal;
					  font-variant: normal;
					  font-weight: 500;
					  line-height: 22px; }
h3					{ font-family: Georgia,Times,Times New Roman,serif;
					  font-size: 16px;
					  font-style: normal;
					  font-variant: normal;
					  font-weight: 300;
					  line-height: 26.4px; }
footer					{ padding: 2em; 
					  text-align: center; 
					  color: #888; }
footer a				{ color: #666; }
footer a:hover				{ color: #444; }
article					{ padding: 1em; }
#loggedout, #loading			{ height: 100%;
					  width: 100%;
					  display: table; }
#loggedout.hide, #loading.hide		{ display: none; }
#loggedout >*, #loading >*		{ display: table-cell;
					  text-align: center;
					  font-size: larger;
					  vertical-align: middle; 
					  height: 100%;
					  width: 100%; }
.error					{ color: #ff3333; }
aside					{ font-style: italic; }

@media only screen and (max-width: 480px) {
.bigonly				{ display: none; }
.pure-form input[type="password"],
.pure-form label,
.pure-form input[type="color"],
.pure-form input[type="email"],
.pure-form input[type="text"]		{ display: inline-block; 
					  margin-bottom: 0; }
.pure-form button[type="submit"]	{ margin: 0; }
h2					{ font-size: 14px; }
h3					{ font-size: 13px; }
}
